@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*
{
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-family: "Urbanist", sans-serif;
}

html 
{
  height: 100%;
  font-size: 1rem;
  overflow-x: hidden;
}

body
{
  margin: 0;
  padding: 0;
  background-color: #FEFAE0;
  font-optical-sizing: auto;
}

@keyframes bounceLeft {
  0% { opacity: 0; transform: translateX(10%); }
  100% { opacity: 1; transform: translateX(0);  }
}

@keyframes bounceRight {
  0% { opacity: 0; transform: translateX(-10%); }
  100% {opacity: 1; transform: translateX(0); }
}

.animation-left {
  animation: bounceLeft 0.5s ease forwards;
}

.animation-right {
  animation: bounceRight 0.5s ease forwards;
}

